# ========= IDE/编辑器/CC =========
.idea/
.vscode/
.claude/

# ========= 后端环境/数据库/运行缓存文件 =========
backend/.venv/
backend/data/
__pycache__/

# ========= 前端依赖 =========
frontend/node_modules/

# ========= 环境配置 =========
